/* /Pages/Home/Home.razor.rz.scp.css */
.demo-mat-card[b-250ve3k30z] {
	max-width: 600px;
	min-height: 100%
}

.demo-mat-card-content[b-250ve3k30z] {
	padding: 1rem;
}

.demo-mat-card-clean-margin[b-250ve3k30z] {
	margin: 10px;
}
