<style>
	.demo-mat-card {
		max-width: 600px;
		min-height: 100%;
	}

	.demo-mat-card-content {
		padding: 1rem;
	}

	.demo-mat-card-clean-margin {
		margin: 10px;
	}
</style>

<a class="mat-layout-grid-cell" style="text-decoration: none; color: black;" href=@Content.HrefURL>
	<MatCard class="demo-mat-card">
		<MatCardContent>
			<MatCardMedia Wide="true" ImageUrl=@Content.ImageURL/>
			<div class="demo-mat-card-content">
				<MatHeadline6 class="demo-mat-card-clean-margin">
					@Content.Title
				</MatHeadline6>
				<MatSubtitle2 class="demo-mat-card-clean-margin">
					@Content.Subtitle
				</MatSubtitle2>
				<MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
					@Content.Content
				</MatBody2>
			</div>
		</MatCardContent>
	</MatCard>
</a>

@code {
	[Parameter]
	public CardListEntry Content { get; set; }
}

